.container {
	height: 100%;
	position: relative;
}

#map {
	height: 100%;
	width: 100%;
}

#pano {
	width: 250px;
	height: 250px;
}

.searchBox {
	position: absolute;
	width: 300px;
	height: auto;
	top: 75px;
	left: 10px;
	background-color: #F8F4CC;
	border-radius: 10px;
	padding: 10px 0px 10px 10px;
}


