@charset "UTF-8";
/**
 *
 * @authors Your Name (you@example.org)
 * @date    2018-08-21 07:31:36
 * @version $Id$
 */

.locationsList {
	height: 200px;
	overflow: scroll;
	overflow-x: hidden;
}

.locationsList span {
	font-size: 1.75rem;
	font-weight: bold;
}

.dropDown li {
	font-size: 1.35rem;
	list-style-type: none;
	line-height: 30px;
}

.dropDown li:hover {
	background-color: #B3ECF5;
	font-weight: bold;
	cursor: pointer;
}

.singleLocation {
	font-size: 1.35rem;
	list-style-type: none;
	line-height: 30px;
}

.singleLocation:hover {
	background-color: #B3ECF5;
	font-weight: bold;
	cursor: pointer;
}


/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
