@charset "UTF-8";
/**
 *
 * @authors Your Name (you@example.org)
 * @date    2018-08-21 07:22:30
 * @version $Id$
 */


.locationsLabel {
	width: 100%;
	font-size: 2rem;
	font-weight: bold;
	margin-left: 5px;
}

#filterLocations {
	width: 80%;
	margin: 5px;
}