@charset "UTF-8";
/**
 *
 * @authors Your Name (you@example.org)
 * @date    2018-08-21 07:22:30
 * @version $Id$
 */

.searchBarContainer h1 {
	text-align: center;
}


.locationsLabel {
	font-size: 1.75rem;
	font-weight: bold;
}

#filterLocations {
	width: 90%;
	margin: 5px;
}